.navbar {
  background-color: black;
  padding: 16px;
  border-bottom: 2px solid #444;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.05); /* light glow */
}

.navlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*flex-wrap: wrap; /* ✅ Allow wrapping */  
  gap:20px;
  list-style: none;
  margin: 0;
  padding: 0;
}


.nav-btn {
  color: white;
  background-color: transparent;
  padding: 9px 16px;
  border: 2px solid transparent;
  border-radius: 999px; /* pill shape */
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #6e6c6a;
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 2px 10px #6f6f6e;
}

.nav-btn.active {
  background-color: #111;
  color: rgb(242, 236, 236);
  border-color: #111;
  box-shadow: 0 0 10px #f9f8f7;
}

@media (max-width: 768px) {
  .navlist {
    flex-direction: row;
   
    gap: 6px;
  }

  .nav-btn {  
  padding: 6px 10px;
}
}
